
header{
    background-color: #967a4e;
    color: #ffff;
}
.card{
    padding: 30px;
    border-radius: 20px;
}
        
.card-header{
     border: 1px solid  #967a4e;
    border-radius: 5px;
    margin: 0 auto;
    background-color: #ffff;
    
    margin: 30px 30px;
    text-align: center;
            
            
}

.card-header h2{
    background-color: #ffffff8c;
    border: 1px solid #967a4e;
    margin-top: 0;
    text-align: center;
    padding: 5px;
        

}
.card-header p{
    padding: 10px;
    border: 1px solid #967a4e;
    margin: 30px;
    border-radius: 10px;
}
header {
    text-align: center;
 }
header span h1{
    color: #e8400c;
    }

.wireFrames{
    margin: 40px;
    padding: 30px;
    text-align: center;
    
}
        