@media (min-width: 768px) {

    header, footer {
        width: 100%;
        margin: 0 auto;
    }

    main {
        margin-top: 20px;
    }

    .wf1 {
        width: 500px;
    }

    .submit-btn {
        font-size: 18px;
    }
}
    
