@media (max-width: 650px){
    .data, .weather{
        position: static;
        width: auto;
        border-radius: 0;
        text-align: center;
        
        
    }

    .hero{
        display: flex;
        flex-direction: column;
        margin: .2rem;
        
        
    }
    .data h2, .weather h2{
        font-size: 1.1rem;
    }
    header{
        font-size: 1.4rem;
        margin: .2rem;
    }

    body{
        margin: 1rem;
        border: 5px solid rgba(225,225,225, 1.1);
        
    }

    footer{
        padding: .9rem;
    }
}