@media (max-width: 650px){
    .data, .weather{
        position: static;
        width: auto ;
        border-radius: 0;
        text-align:var(--text-align);

        
        
    }

    .hero{
        display: var(--display);
        flex-direction: var(--flex-direction);
        margin: .2rem;  
    }
    .data h2, .weather h2{
        font-size: 2.1rem;
        width: fit-content;
        background-color: var(--secondary-color);
        margin: 0 auto 0.6rem auto ;
    }
    .data{
        border-bottom: 1px solid wheat;
    }
    header{
        font-size: 1.4rem;
        margin: .2rem;
    }

    body{
         
        margin: 0 auto;
        
        
    }
    .weather h2{
        display: var(--display);
        flex-direction: var(--flex-direction);
        grid-gap: 0;
    }

    footer{
        padding: .9rem;

    }

    .hero img{
        border-bottom: 3px solid red;
    }
    
    weather h2::after{
        content: none;
    }
}