:root{
    --primary-color:#c8102e;
    --secondary-color:white;
    --display: flex;
    --text-align: center;
    --flex-direction: column;

}
    
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    

body{
    font-family: 'Times New Roman', Times, serif;
     line-height: 1.5;
   
}

header, footer{
    background-color: var(--primary-color);
    text-align: var(--text-align);
    color: var(--secondary-color);
    padding: 1rem;
    
}

header{
    border-bottom:  8px solid #2e8b57;

}
footer{
    font-size: 0.9rem;
}

.hero{
    position: relative;

}
.hero img{
    width: 100%;
    display: block;
    height: auto;
    

}

.data, .weather{
    position: absolute;
    background: rgba(255,255,255,0.9);
    padding: .2rem;
    width: 250px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);

}

.data{
    top: 30px;
    left: 10px;
    

}
.weather h2{
    display: inline-block;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
}

.weather{
    bottom: 200px;
    right: 10px;
}

.weather h2, .data h2{ 
    text-align: var(--text-align);
    background-color: #2e8b57;
    padding: .5rem;
    border-radius: 3px;
    width: 200px;
    margin-bottom: .6rem;
}

.data p, .weather p {
    margin: 0.3rem 0;
    font-size: 0.9rem;
}
.weather img{
    width: 50px;
    
}

.weather h2::after {
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    background-image: url("../images/weather.svg");
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 10px;
    vertical-align: middle;
}




