* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    

body{
    font-family: 'Times New Roman', Times, serif;
     line-height: 1.5;
   
}

header, footer{
    background-color: #c8102e;
    text-align: center;
    color: white;
    padding: 1rem;
}
footer{
    font-size: 0.9rem;
}

.hero{
    position: relative;

}
.hero img{
    width: 100%;
    display: block;
    height: auto;

}

.data, .weather{
    position: absolute;
    background: rgba(255,255,255,0.9);
    padding: .2rem;
    width: 250px;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);

}

.data{
    top: 30px;
    left: 10px;
    

}

.weather{
    bottom: 200px;
    right: 10px;
}

.weather h2, .data h2{ 
    text-align: center;
    background-color: #2e8b57;
    padding: .5rem;
    border-radius: 3px;
    width: 200px;
    margin-bottom: .6rem;
}

.data p, .weather p {
    margin: 0.3rem 0;
    font-size: 0.9rem;
}