
body{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    max-width: 900px;
    
    
}


header{
    background-color: purple;
    color: white;
    padding-top: 5px;
    margin-top: 2px;
    border-radius: 5px 5px 0 0;
   
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
}

#menu{
    font-size: 25px;
    background: none;
    border: 2px solid black;
    color:aliceblue;
    cursor: pointer;
    background-color: rgb(96, 96, 148);
    border-radius: 5px;

}


nav ul li a:hover{
    background: #6a0dad
}

nav ul{
    list-style: none;
    margin: 0;
    display: none;
    padding: 2px;
    flex-direction: column;
}

nav ul li a{
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}
.open{
    display: flex;
    
}

.templeGallery{
    display: grid;
    grid-template-columns: 1fr;
    width: 50%;
    gap: 10px;
    margin: 0 auto;
    padding: 10px;
    border: 2px solid rgb(0,0,0,0.1);
    border-radius: 8px;
    
}

    

.templeGallery figure{
        border-radius: 8px;
        text-align: center;
        box-shadow: 0 20px 50px rgb(0,0,0,0.1);
        overflow: hidden;
        margin: 0;
        
        
    }
    .templeGallery img{
        width: 100%;
        height: 100px;
        display: block;
        margin: 0 auto;
        
        
    }
    .templeGallery figcaption{
        padding: 0.7rem;
        font-size: .8rem;
        background: none;
        height: 15px;
    }

    footer{
        color: white;
        background-color: purple;
        border-radius: 8px;
    }
    
    
     