*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}

/* mobile ******************************/
header{
    background-color: #bbb;
    display: grid;
    grid-gap: 1rem;
    padding: 20px;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0 0 30px #333;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    background-color: blueviolet;
    padding: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: none;
    background-color: #eee;
    color: #000;
}
