
body{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0;
}


header{
    background-color: purple;
    color: white;
   
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

#menu{
    font-size: 25px;
    background: none;
    border: none;
    color:aliceblue;
    cursor: pointer;

}


nav ul li a:hover{
    background: #6a0dad
}

nav ul{
    list-style: none;
    margin: 0;
    display: none;
    padding: 0;
    flex-direction: column;
}

nav ul li a{
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
}
.open{
    display: flex;
    
}

.templeGallery{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 20px;
    
}
figure img{
    width: 200px;
}